{% extends "base.html" %}
{% block first_column %}
<article class="span-17 last dialog contact">
	<header>
		<h1>contact me</h1>
	</header>
	<form id="htmlform" action="{{ current_url }}" method="post">
		<label class="tight" for="author">your name</label>
		<input type="text" id="author" name="author" size="22" tabindex="1" value="{{ nickname }}"/>
		
		<label class="tight" for="email">your email</label>
		<input type="text" id="email" name="email" size="22" tabindex="2" value="{{ email }}"/>
		
		<label class="tight" for="subject">your subject</label>
		<input type="text" id="subject" name="subject" size="22" tabindex="3" />
		
		<label class="tight" for="message">your message</label>
		<textarea id="message" name="message" cols="60" rows="10" tabindex="4"></textarea>
		
		<div class="ui-dialog-buttonpane ui-helper-clearfix">
			<button type="submit" class="ui-state-default ui-corner-all">get in touch</button>
		</div>
		
		
		<input type="hidden" name="token" value="{{ token }}" />
		<input type="hidden" name="curtime" value="{{ curtime|floatformat }}" />
	</form>
</article>
{% endblock %}
