/* Header links should display like normal header text */ 
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: inherit;
	color: inherit;
}

#title h1, #title h2, #title h3 {
	margin-bottom: 0;
}

h1 {
	font-size: 42pt;
	letter-spacing: -.08em;
	color: #424242;
}

#title h2 {
	text-align: right;
	line-height: 77px;
	font-size: 21pt;
	letter-spacing: -1px;
	color: #7F7F7F;
}

#title h2 a:hover {
	color: #191919;
}

#title h3 {
	font-size: 21pt;
	line-height: 21pt;
}

/* Links in the nav bars should not use the link color */
.nav .links a {
	color: inherit;
}

#searchsubmit {
	margin: .5em 0;
	vertical-align: middle;
}