
/* Header links should display like normal header text */ 
h1 a, h1 a:visited, h1 a:hover, h1 a:link, h1 a:focus, h2 a, h2 a:visited, h2 a:hover, h2 a:link, h2 a:focus, h3 a, h3 a:visited, h3 a:hover, h3 a:link, h3 a:focus, h4 a, h4 a:visited, h4 a:hover, h4 a:link, h4 a:focus, h5 a, h5 a:visited, h5 a:hover, h5 a:link, h5 a:focus, h6 a, h6 a:visited, h6 a:hover, h6 a:link, h6 a:focus {
	text-decoration: inherit;
	color: inherit;
}

/* Standard link styles */
a, a:link, a:visited {
	color: #666666;
	text-decoration: none;
}

a:hover, a:focus {
	color: #191919;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -1px;
}

code {
	display: block;
	margin: 1.5em;
	padding: 0;
}

/* Mainly used for inline code, but no reason to make it exclusive */
.inline {
	display: inline;
	margin: 0;
}

.smallalts .alt {
	font-size: 0.7em;
}

.tight {
	letter-spacing: -0.08em;
}

#title h1, #title h2, #title h3 {
	margin-bottom: 0;
}

h1 {
	font-size: 42pt;
	letter-spacing: -.08em;
	color: #424242;
}

h1 a:hover {
	color: #191919;
}

#title h2 {
	text-align: right;
	line-height: 77px;
	font-size: 15pt;
	color: #7F7F7F;
}

#title h2 a {
	font-size: 21pt;
	margin-left: 0.2em;
	letter-spacing: -1px;
}

#title h2 a:hover {
	color: #191919;
}

#title h3 {
	font-size: 21pt;
	line-height: 21pt;
}

.nav {
	text-align: center;
	font-size: 12pt;
}

.nav div {
	position: relative;
}

.nav a {
	color: #424242;
	text-decoration: none;
}

.nav a:hover {
	color: #191919;
}

.nav span {
	color: #B3B3B3;
	font-size: 12pt;
	position: absolute;
	display: block;
	width: 100%;
}

.post .postMeta {
	position: relative;
}

.post .postMeta .postAdmin {
	position: absolute;
	right: 0;
	top: 0;
	text-transform: lowercase;
	letter-spacing: -.08em;
	font-size: 15pt;
}

.post .postMeta .date {
	color: #777777;
}

.post .postTitle {
	font-size: 21pt;
	letter-spacing: -1px;
	margin-bottom: 0.25em;
}

.post .postTitle a {
	color: #333333;
	text-decoration: none;
}

.post .postTitle a:hover {
	color: #000000;
	text-decoration: underline;
}

.post .postAdmin {
	float: right;
}

#search input {
	font-size: 12pt;
}

#search input.blurred {
	color: #999999;
}

#searchsubmit {
	margin: .5em 0;
	vertical-align: middle;
}

#sidebar h3 {
	margin-bottom: 0.5em;
	color: #333333;
	letter-spacing: -1px;
	font-size: 16pt;
}

#sidebar ul {
	list-style: none;
	margin: 8px 0 4px;
	padding-left: 0px;
}

#sidebar li {
	background: url(/static/images/li.gif) no-repeat 0 3px;
	color: #7F7F7F;
	line-height: 1.2em;
	padding: 4px 0 4px 16px;
}

#sidebar a, #sidebar a:link, #sidebar a:visited {
	color: #424242;
}

#sidebar a:hover, #sidebar a:focus {
	color: #191919;
}

#sidebar p {
	margin-bottom: 1em;
}

.tags {
	font-size: 14pt;
}

.listing {
	font-size: 19pt;
}

.replybtn {
	font-size: 13pt;
}

.comment_box {
	border: dashed 1px #CCCCCC;
	background-color: #F6F6F6;
}

.comment_text {
	margin-top: 17px;
}

.comment_meta {
	font-size: 14pt;
}

.comment_reply {
	font-size: 13pt;
}

#content, #sidebar {
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}

#colcontainer {
	overflow: hidden;
	margin-bottom: 1.45em;
}

/* Some indentations useful for tree placement of comments */
#comments_wrapper li.indent1{margin-left: 0em;}
#comments_wrapper li.indent2{margin-left: 2em;}
#comments_wrapper li.indent3{margin-left: 4em;}
#comments_wrapper li.indent4{margin-left: 6em;}
#comments_wrapper li.indent5{margin-left: 8em;}
#comments_wrapper li.indent6{margin-left: 10em;}
#comments_wrapper li.indent7{margin-left: 12em;}
#comments_wrapper li.indent8{margin-left: 13em;}
#comments_wrapper li.indent9{margin-left: 14em;}
#comments_wrapper li.indent10{margin-left: 15em;}

/* tweaks to blueprint -- TODO: rebuild blueprint with these rolled in */
div.colborder {
	border-color: #CCCCCC;
}

hr {
	height: 1px;
}