{% if user_is_admin %}

<script type="text/tmpl" id="_tmpl_postDialog">
<div class="span-19 last postDialog dialog">
	<form id="postDialogForm" class="span-19 last" name="postDialogForm" method="post" action="#">
		<div id="error" class="span-19 last ui-state-error ui-corner-all" style="display:none;">
			<div class="box">
				<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>
				<span id="errorText"></span>
			</div>
		</div>
		<label class="tight" for="postTitle">title</label>
		<input type="text" class="span-10 append-9 last" id="postTitle" name="postTitle" size="50" />
			
		<label class="tight" for="postTags">tags</label>
		<input type="text" class="span-10 append-9 last" id="postTags" name="postTags" size="50" />
		<sup><em>separate tags with commas</em></sup>
		
		<label class="tight" for="postBody">post body</label>
		<textarea id="postBody" class="span-19 last" name="postBody" class="postBody" cols="50" rows="10"></textarea>
		
		<input type="hidden" name="postFormat" value="html">
	</form>
</div>
</script>

{% endif %}

