{% if prev_offset or next_offset %}
<div id="more_reading">
    <p class="smallalts pager">
	<span class="alt">go</span>
    {% if prev_offset %}
        <a class="tight" href="?{{ query_string }}offset={{ prev_offset }}&amp;limit={{ limit }}">previous</a>
    {% endif %}
	{% if prev_offset and next_offset %}
		<span class="alt">or</span>
	{% endif %}
    {% if next_offset %}
        <a class="tight" href="?{{ query_string }}offset={{ next_offset }}&amp;limit={{ limit }}">next</a>
    {% endif %}
    </p>
</div>
{% endif %}
