{% extends "base.html" %}

{% block first_column %}
	{% if articles %}
		<div class="smallalts listing">
			<span class="alt">all articles from the month</span> 
			<a class="tight" href="/{{ year }}/{{ month }}">{{ month }}/{{ year }}</a>
		</div>
		{% for article in articles %}
			{% include '../article_excerpt.html' %}
		{% endfor %}
	{% else %}
		<article class="span-17 last">
			<header class="span-17 last">
				<span class="date">No Matches</span>
				<h1>No articles for this year</h1>
			</header>
			<div class="span-17 last entry">
				<p>Todo -- Show list of articles which are available by year...</p>
			</div>
		</article>
	{% endif %}
{% endblock %}
