{% extends "base.html" %}

{% block first_column %}
    {% if articles %}
        <div class="listing">
            <h2><span class="alt">articles from the month</span> {{ month }}/{{ year }}</h2>
        </div>
        {% for article in articles %}
            {% include '../article_excerpt.html' %}
        {% endfor %}
    {% else %}
        <div class="post">
            <div class="postMeta"><span class="date">No Matches</span></div>
            <h2>No articles for this year</h2>
            <div class="entry">
                <p>Todo -- Show list of articles which are available by year...</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
