{% extends "base.html" %}

{% block first_column %}
	{% if articles %}
		<div class="smallalts listing">
			<span class="alt">all articles found searching for</span>
			<a class="tight" href="/search?s={{ search_term }}">{{ search_term }}</a>
		</div>
		{% for article in articles %}
			{% include '../article_excerpt.html' %}
		{% endfor %}
		{% include 'pager.html' %}
	{% else %}
		<article class="span-17 last">
			<header class="span-17 last">
				<span class="date">No Matches</span>
				<h1>No articles found for '{{ search_term }}'</h1>
			</header>
			<div class="span-17 last entry">
				<p>{{ search_error_message }}</p>
				<p>Please try your search again.</p> 
				<p>If you feel that you should be staring at something a little more concrete, 
					try one of the tags or browse the archives.</p>
			</div>
		</article>
	{% endif %}
{% endblock %}
