{% extends "base.html" %}

{% block first_column %}
    {% if articles %}
        <div class="smallalts listing">
            <span class="alt">all articles from the year</span> 
			<a class="tight" href="/{{ year }}">{{ year }}</a>
        </div>
        {% for article in articles %}
            {% include 'article_excerpt.html' %}
        {% endfor %}
        {% include 'pager.html' %}
    {% else %}
        <div class="post">
            <div class="postMeta"><span class="date">No Matches</span></div>
            <h2>No articles for this year</h2>
            <div class="entry">
                <p>Todo -- Show list of articles which are available by year...</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
